<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tadev.musicplayer">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MusicPlayerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/mybackupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ExiterActivity" />
        <activity android:name=".activities.VideoPlayingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <service android:name=".services.MusicPlayService"/>

        <service android:name=".services.DownloaderService" />

        <receiver
            android:name=".receivers.UpdateSeekbarReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tadev.musicplayer.action.ACTION_UPDATE" />
                <action android:name="com.tadev.musicplayer.UPDATE_MUSIC_PLAYBAR" />
                <action android:name="com.tadev.musicplayer.action.ACTION_PLAY" />
                <action android:name="com.tadev.musicplayer.action.ACTION_PAUSE" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.MainMusicPlayReceiver">
            <intent-filter>
                <action android:name="com.tadev.musicplayer.action.ACTION_UPDATE_MAIN_MUSIC" />
                <action android:name="com.tadev.musicplayer.UPDATE_MUSIC_PLAYBAR" />
                <action android:name="com.tadev.musicplayer.action.ACTION_PLAY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
