<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tadev.musicplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".MusicPlayerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/mybackupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.VideoPlayingActivity"
            android:configChanges="screenLayout|screenSize|orientation" />
        <activity
            android:name=".activities.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <service android:name=".services.MusicPlayService">

            <!--<intent-filter>-->
            <!--<action android:name="com.tadev.musicmMediaPlayer.action.PLAY" />-->
            <!--<action android:name="com.tadev.musicmMediaPlayer.action.PAUSE" />-->
            <!--<action android:name="com.tadev.musicmMediaPlayer.action.PLAY_PAUSE" />-->
            <!--<action android:name="com.tadev.musicmMediaPlayer.action.PLAY_BAR" />-->
            <!--</intent-filter>-->
        </service>

        <service android:name=".services.DownloaderService" />

        <receiver
            android:name=".receivers.UpdateSeekbarReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tadev.musicplayer.action.ACTION_UPDATE" />
                <action android:name="com.tadev.musicplayer.UPDATE_MUSIC_PLAYBAR" />
                <action android:name="com.tadev.musicplayer.action.ACTION_PLAY" />
                <action android:name="com.tadev.musicplayer.action.ACTION_PAUSE" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
